.skills {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    max-width: 1080px;
}


.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.75rem 2rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    align-items: flex-start;
    row-gap: 0.9rem;
}

.skills__data {
    display: flex;
    column-gap: 0.6rem;
}

.skills .bx-badge-check {
    font-size: 0.9rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}


/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1080px) {
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For medium devices */
@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* For small devices */
@media screen and (max-width: 576px) {
    .skills__content {
        padding: 1.5rem;
    }
}

/* for extra small devices*/
@media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}